@{
    ViewData["Title"] = "Graficas";
}

@section estilo{
    <link rel="stylesheet" href="~/css/index_Admin.css" asp-append-version="true" />
}

@section links_extras{
    <li class="nav-item">
        <a class="nav-link text-dark"  asp-controller="Admin" asp-action="Registro_Empleado">Registro Empleados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Seccion Cliente</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Empleado" asp-action="Index">Seccion Empleado</a>
    </li>
    <li class="nav-item">
        <a class="active text-white fw-bold nav-link btn btn-danger"  asp-controller="Home" asp-action="Cerrar_Sesion">Cerrar Sesion</a>
    </li>
}

<div class="container">
    @if (ViewBag.error != null)
    {
        <div class="row bg-danger bg-opacity-50 rounded-2 mt-3 p-2 justify-content-center text-center align-items-center">
            <i class="col-1 bi bi-bookmark-x-fill"></i>
            <p class="col-10 text-white h4 m-0 fw-bolder text-center">@ViewBag.error</p>
            <i class="col-1 bi bi-bookmark-x-fill"></i>
        </div>
    }
    <div class="row d-flex justify-content-center">
        <details class="col-12 d-flex mt-4 mb-2 justify-content-evenly ">
            <summary class="text-white">
                <i class="bi bi-caret-right-fill"></i>
                Agregar Talla
            </summary>
            <div class="row d-flex justify-content-evenly ">
                <div class="col-12 col-md-5 m-3">
                    @using (Html.BeginForm("Agregar_Talla", "Admin", FormMethod.Post))
                        {
                        <div class="input-group mt-2">
                            <input name="nombre_talla" type="text" class="form-control" placeholder="Nombre Talla" aria-label="Input para poner el nombre de una nueva talla">
                            <button class="btn btn-success fw-bold text-white ">Agregar Talla</button>
                        </div>
                    }
                    @using (Html.BeginForm("Eliminar_Talla", "Admin", FormMethod.Post))
                    {
                        <div class="input-group mt-2">
                            <input name="id_talla" type="number" min="1" class="form-control" placeholder="ID talla" aria-label="Input para poner el id de una talla">
                            <button class="btn btn-danger fw-bold">Eliminar</button>
                        </div>
                    }
                </div>
                <div class="col-11 col-md-5 m-3 p-0 table-responsive">
                    <table class="tabla-personalizada m-0">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(ViewBag.listaTallas.Count == 0)
                            {
                                <tr>
                                    <th colspan="2" scope="row">Sin Datos</th>
                                </tr>
                            }else
                            {
                                foreach(Tipo_Talla talla in ViewBag.listaTallas)
                                {
                                    <tr>
                                        <th scope="row">@talla.id_talla</th>
                                        <td>@talla.talla </td> 
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </details>
        <details class="col-12 d-flex my-2 justify-content-evenly ">
            <summary class="text-white">
                <i class="bi bi-caret-right-fill"></i>
                Agregar Marca
            </summary>
            <div class="row d-flex justify-content-evenly ">
                <div class="col-12 col-md-5 m-3">
                    @using(Html.BeginForm("Agregar_Marca", "Admin", FormMethod.Post))
                    {
                        <div class="input-group mt-2">
                            <input name="nombre_marca" type="text" class="form-control" placeholder="Nombre Marca" aria-label="Input para poner el nombre de una nueva marca">
                            <button class="btn btn-success fw-bold text-white">Agregar Marca</button>
                        </div>
                    }
                    @using (Html.BeginForm("Eliminar_Marca", "Admin", FormMethod.Post))
                    {
                    <div class="input-group mt-2">
                        <input name="id_marca" type="number" min="1" class="form-control" placeholder="ID Marca" aria-label="Input para poner el id de una talla">
                        <button class="btn btn-danger fw-bold">Eliminar</button>
                    </div>
                    }
                </div>
                <div class="col-11 col-md-5 m-3 p-0 table-responsive">
                    <table class="tabla-personalizada m-0">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                                @if (ViewBag.listaMarcas.Count == 0)
                                {
                                <tr>
                                    <th colspan="2" scope="row">Sin Datos</th>
                                </tr>
                                }
                                else
                                {
                                    foreach (Tipo_Marca marca in ViewBag.listaMarcas)
                                    {
                                    <tr>
                                        <th scope="row">@marca.id_marca</th>
                                        <td>@marca.descripcion </td>
                                    </tr>
                                    }
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </details>
        <details class="col-12 d-flex my-2 justify-content-evenly ">
            <summary class="text-white">
                <i class="bi bi-caret-right-fill"></i>
                Agregar Color
            </summary>
            <div class="row d-flex justify-content-evenly ">
                <div class="col-12 col-md-5 m-3">
                    @using (Html.BeginForm("Agregar_Color", "Admin", FormMethod.Post))
                    {
                        <div class="input-group mt-2">
                            <input name="nombre_color" type="text" class="form-control" placeholder="Nombre Color" aria-label="Input para poner el nombre de un nuevo color">
                            <button class="btn btn-success fw-bold text-white ">Agregar Color</button>
                        </div>
                    }
                    @using (Html.BeginForm("Eliminar_Color", "Admin", FormMethod.Post))
                    {
                        <div class="input-group mt-2">
                            <input name="id_color" type="number" min="1" class="form-control" placeholder="ID Color" aria-label="Input para poner el id de una color">
                            <button class="btn btn-danger fw-bold">Eliminar</button>
                        </div>
                    }
                </div>
                <div class="col-11 col-md-5 m-3 p-0 table-responsive">
                    <table class="tabla-personalizada m-0">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.listaColores.Count == 0)
                            {
                                <tr>
                                    <th colspan="2" scope="row">Sin Datos</th>
                                </tr>
                            }
                            else
                            {
                                foreach (Color color in ViewBag.listaColores)
                                {
                                    <tr>
                                        <th scope="row">@color.id_color</th>
                                        <td>@color.color_nombre</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </details>
        <details class="col-12 d-flex my-2 justify-content-evenly ">
            <summary class="text-white">
                <i class="bi bi-caret-right-fill"></i>
                Agregar Tipo de Prenda
            </summary>
            <div class="row d-flex justify-content-evenly ">
                <div class="col-12 col-md-5 m-3">
                    @using (Html.BeginForm("Agregar_Tipo_Prenda","Admin", FormMethod.Post))
                    {
                        <div class="input-group mt-2">
                            <input name="nombre_tipo_prenda" type="text" class="form-control" placeholder="Nombre Tipo Prenda" aria-label="Input para poner el nombre de un nuevo tipo de prenda">
                            <button class="btn btn-success fw-bold text-white ">Agregar Tipo de prenda</button>
                        </div>
                    }
                    @using (Html.BeginForm("Eliminar_Tipo_Prenda", "Admin", FormMethod.Post))
                    {
                    <div class="input-group mt-2">
                        <input name="id_tipo_prenda" type="number" min="1" class="form-control" placeholder="ID Tipo Prenda" aria-label="Input para poner el id de un tipo de prenda">
                        <button class="btn btn-danger fw-bold">Eliminar</button>
                    </div>
                    }
                </div>
                <div class="col-11 col-md-5 m-3 p-0 table-responsive">
                    <table class="tabla-personalizada m-0">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.listaTipoPrendas.Count == 0)
                            {
                                <tr>
                                    <th colspan="2" scope="row">Sin Datos</th>
                                </tr>
                            }
                            else
                            {
                                foreach (Tipo_Prenda tipoPrenda in ViewBag.listaTipoPrendas)
                                {   
                                    <tr>
                                        <th scope="row">@tipoPrenda.id_prenda </th>
                                        <td>@tipoPrenda.descripcion </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </details>
    </div>
    

</div>