@model Producto

@{
    ViewData["Title"] = "Agregar Prenda";
}

@section estilo{
    <link rel="stylesheet" href="~/css/agregar_prenda.css" asp-append-version="true" />
}

@section links_extras{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Empleado" asp-action="Registro_Venta">Registro Venta</a>
    </li>
    <li class="nav-item">
        <a class="active text-white fw-bold nav-link btn btn-danger" asp-controller="Home" asp-action="Cerrar_Sesion">Cerrar Sesion</a>
    </li>
}

<div class="container">
    @if (ViewBag.error != null)
    {
        <div class="row bg-white bg-opacity-50 rounded-2 mt-3 p-2 justify-content-center text-center align-items-center">
            <i class="col-1 bi bi-bookmark-x-fill text-danger"></i>
            <p class="col-10 text-danger h4 m-0 fw-bolder text-center">@ViewBag.error</p>
            <i class="col-1 bi bi-bookmark-x-fill text-danger"></i>
        </div>
    }
    <div class="row">
        <form asp-controller="Empleado" asp-action="@ViewBag.metodo" method="post" enctype="multipart/form-data" class="col-12">
            <div class="row d-flex justify-content-center align-items-start ">
                <div class="col-lg-5 col-md-8 col-sm-12 mt-5 px-4 d-flex position-relative flex-wrap justify-content-center rounded-1 box-shadow">
                    <div class="form-floating mb-3 w-100 position-relative">
                        <label class="form-label input-bg-custom select-label d-flex align-items-center" for="colorInput">
                            <i class="bi bi-palette-fill me-2"></i>
                            Color
                        </label>
                        <select asp-for="id_color" class="form-select input-bg-custom" aria-label="Default select example">
                            @if (ViewBag.listaColores.Count == 0)
                            {
                                <option value=0> Ninguno Registrado </option>
                            }
                            else
                            {
                                foreach (Color color in ViewBag.listaColores)
                                {
                                    <option value=@color.id_color>@color.color_nombre</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <label class="form-label input-bg-custom select-label fs-6 d-flex align-items-center" for="generoInput">
                            <i class="bi bi-tag-fill me-2" ></i>
                            Tipo
                        </label>
                        <select asp-for="id_tipo_prenda" class="form-select input-bg-custom" aria-label="Tipos select">
                            @if (ViewBag.listaTipoPrendas.Count == 0)
                            {
                                <option value=0> Ninguno Registrado </option>
                            }
                            else
                            {
                                foreach (Tipo_Prenda tipo in ViewBag.listaTipoPrendas)
                                {
                                    <option value=@tipo.id_prenda>@tipo.descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <input asp-for="temporada" type="text" class="form-control input-bg-custom" id="temporadaInput" placeholder="Example" autocomplete="nope">
                        <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="temporadaInput">
                            <i class="bi bi-cloud-sun-fill me-2" style="font-size: 1.4rem;"></i>
                            Temporada
                        </label>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <input asp-for="material" type="text" class="form-control input-bg-custom" id="materialInput" placeholder="Example" autocomplete="nope">
                        <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="materialInput">
                            <i class="bi bi-layers-fill me-2" style="font-size: 1.4rem;"></i>
                            Material
                        </label>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <label class="form-label input-bg-custom select-label fs-6 d-flex align-items-center" for="contrasenaInput">
                            <i class="bi bi-arrows-vertical me-2"></i>
                            Talla
                        </label>
                        <select asp-for="talla" class="form-select input-bg-custom" aria-label="Talla select">
                            @if (ViewBag.listaTallas.Count == 0)
                            {
                                <option value=0> Ninguno Registrado </option>
                            }
                            else
                            {
                                foreach (Tipo_Talla talla in ViewBag.listaTallas)
                                                {
                                    <option value=@talla.id_talla>@talla.talla</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-5 col-md-8 col-sm-12 mt-md-0 mt-lg-5 px-4 d-flex position-relative flex-wrap justify-content-center bg-transparent rounded-1 box-shadow">
                    <div class="form-floating mb-3 w-100">
                        <input asp-for="cantidad" type="number" class="form-control input-bg-custom" id="cantidadInput" placeholder="Example" autocomplete="nope">
                        <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="cantidadInput">
                            <i class="bi bi-123 me-2" style="font-size: 2rem;"></i>
                            Cantidad
                        </label>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <input asp-for="valor" type="number" class="form-control input-bg-custom" id="valorInput" placeholder="Example" autocomplete="nope">
                        <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="valorInput">
                            <i class="bi bi-cash-coin me-2" style="font-size: 1.4rem;"></i>
                            Valor
                        </label>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <label class="form-label select-label input-bg-custom fs-6 d-flex align-items-center" for="contrasenaInput">
                            <i class="bi bi-tags-fill me-2" style="font-size: 1.4rem;"></i>
                            Marcas
                        </label>
                        <select asp-for="marca" class="form-select input-bg-custom" aria-label="Marca select">
                            @if (ViewBag.listaMarcas.Count == 0)
                            {
                                <option value=0> Ninguno Registrado </option>
                            }
                            else
                            {
                                foreach (Tipo_Marca marca in ViewBag.listaMarcas)
                                {
                                    <option value=@marca.id_marca>@marca.descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <input asp-for="genero" list="generosLista" type="text" class="form-control input-bg-custom" id="contrasenaInput" placeholder="Example" autocomplete="nope">
                        <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="contrasenaInput">
                            <i class="bi bi-gender-ambiguous me-2" style="font-size: 1.4rem;"></i>
                            Genero
                        </label>
                        <datalist id="generosLista">
                            <option value="Femenina" />
                            <option value="Masculina" />
                            <option value="Unisex" />
                        </datalist>
                    </div>
                    <div class="mb-3 input-foto-prenda">
                        <label for="formFile" class="form-label">
                            <i class="bi bi-image"></i>
                            Foto de la Prenda
                        </label>
                        <input name="fotoProductoArchivo" class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <div class="col-10 text-center ">
                    @if (ViewBag.accion == "Actualizar" && @Model.Imagen != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show fw-bold" role="alert">
                            
                            Este producto tiene una imagen actualmente cargada, Sí desea mantenerla no cargue ninguna imagen
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <button class="btn w-25 p-2 fs-5 btn-agregar-prenda mt-3">@ViewBag.accion</button>
                </div>
            </div>
        </form>
    </div>
</div>