@using System.Globalization;
@{
    ViewData["Title"] = "Registro venta";
}

@section estilo{
    <link rel="stylesheet" href="~/css/registro_ventas.css" asp-append-version="true" />
}

@section links_extras{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Empleado" asp-action="Registro_Venta">Registro Venta</a>
    </li>
    <li class="nav-item">
        <a class="active text-white fw-bold nav-link btn btn-danger" asp-controller="Home" asp-action="Cerrar_Sesion">Cerrar Sesion</a>
    </li>
}

<div class="container-fluid">
    <h1 class="text-center text-white py-4">Registro de Ventas </h1>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 col-md-10 col-12 d-flex mb-4 justify-content-evenly">
            <a class="btn btn-success fw-bold text-white border-1 border-white me-4 p-2" asp-controller="Empleado" asp-action="Agregar_Venta">Agregar Venta</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-0 table-responsive">
            <table class="tabla-personalizada m-0">
                <thead>
                    <tr>
                        <th scope="col"># Factura</th>
                        <th scope="col">Cedula Usuario</th>
                        <th scope="col">Valor Total</th>
                        <th scope="col">Estado de venta</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.listaFacturas.Count == 0)
                    {
                        <tr>
                            <th colspan="5" scope="row">Sin Datos</th>
                        </tr>
                    }
                    else
                    {
                        foreach (Factura factura in ViewBag.listaFacturas)
                        {
                            <tr>
                                <th scope="row">@factura.id_factura</th>
                                <td>@factura.id_usuario</td>
                                <td>@factura.valor_total.ToString("C", new CultureInfo("es-CO"))</td>
                                <td>@factura.estado_venta</td>
                                <td>@factura.fecha.ToString("dd/MMMM/yyyy")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>