@model Producto
@{
    int calificacion = 0;
}
<h5 class="card-subtitle my-2 fw-bold">Tu calificacion:</h5>

@if(ViewBag.calificacion == null)
{
    <h6 class="card-subtitle my-2">No Has Calificado este producto</h6>
}
else
{
    calificacion = ViewBag.calificacion;
    <h6 class="card-subtitle my-2">@ViewBag.calificacion</h6>
}
<div class="calificacion-usuario-contenedor mb-2">
@for(int i = 1; i <= 5; i++)
{
    if(i <= calificacion)
    {
        <i class="bi bi-star-fill star-icon" data-valor="@i" data-cod_producto="@Model.cod_producto"></i>
    }
    else
    {
            <i class="bi bi-star star-icon" data-valor="@i" data-cod_producto="@Model.cod_producto"></i>
    }
}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var cod_producto = @Model.cod_producto;

        if (!localStorage.getItem(`ejecutado_${cod_producto}`)) {
            localStorage.setItem(`ejecutado_${cod_producto}`, 'true');

            var valor = -1;
            console.log("estuvo listo cod: ", cod_producto);
            $.post("/Cliente/CalificarProducto", { cod_producto: cod_producto, valor: valor }, function (data) {
                $(`#cal_${cod_producto}`).html(data);
            });
        }
    });

    window.addEventListener('beforeunload', function () {
        // Limpiar el localStorage antes de recargar la página
        var cod_producto = @Model.cod_producto;
        localStorage.removeItem(`ejecutado_${cod_producto}`);
    });
</script>