@model Usuario
@{
    ViewData["Title"] = "Actualizar Datos";
}

@section estilo{
    <link rel="stylesheet" href="~/css/actualizar_datos.css" asp-append-version="true" />
}

<div class="container">
    @if (ViewBag.error != null)
    {
        <div class="row bg-white bg-opacity-50 rounded-2 mt-3 p-2 justify-content-center text-center align-items-center">
            <i class="col-1 bi bi-bookmark-x-fill text-danger"></i>
            <p class="col-10 text-danger h4 m-0 fw-bolder text-center">@ViewBag.error</p>
            <i class="col-1 bi bi-bookmark-x-fill text-danger"></i>
        </div>
    }
    <div class="row">
        <form asp-controller="Cliente" asp-action="ActualizarDatos" method="post" enctype="multipart/form-data" class="col-12">
            <div class="row d-flex justify-content-center align-items-start ">
                <div class="col-lg-5 col-md-8 col-sm-12 mt-5 px-4 d-flex position-relative flex-wrap justify-content-center rounded-1 box-shadow">
                    <div class="form-floating mb-3 w-100">
                        <input asp-for="@Model.nombres" type="text" class="form-control input-bg-custom" id="nombresInput" placeholder="Example" autocomplete="nope">
                        <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="nombresInput">
                            <i class="bi bi-alphabet me-2" style="font-size: 2rem;"></i>
                            Nombres
                        </label>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <input asp-for="@Model.genero" list="generosLista" type="text" class="form-control input-bg-custom" id="generoInput" placeholder="Password" autocomplete="nope">
                        <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="generoInput">
                            <i class="bi bi-gender-ambiguous me-2" style="font-size: 1.5rem;"></i>
                            Genero
                        </label>
                        <datalist id="generosLista">
                            <option value="Masculino" />
                            <option value="Femenino" />
                            <option value="No Binario" />
                        </datalist>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <input asp-for="@Model.direccion" type="text" class="form-control input-bg-custom" id="direccionInput" placeholder="Example" autocomplete="nope">
                        <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="direccionInput">
                            <i class="bi bi-geo-alt-fill me-2" style="font-size: 1.4rem;"></i>
                            Dirección
                        </label>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <input asp-for="@Model.cedula" type="number" class="form-control input-bg-custom" id="cedulaInput" placeholder="Example" autocomplete="nope">
                        <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="cedulaInput">
                            <i class="bi bi-person-vcard-fill me-2" style="font-size: 1.4rem;"></i>
                            Cedula
                        </label>
                    </div>
                </div>
                <div class="col-lg-5 col-md-8 col-sm-12 mt-md-0 mt-lg-5 px-4 d-flex position-relative flex-wrap justify-content-center bg-transparent rounded-1 box-shadow">
                    <div class="form-floating mb-3 w-100">
                        <input asp-for="@Model.apellidos" type="text" class="form-control input-bg-custom" id="apellidosInput" placeholder="Example" autocomplete="nope">
                        <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="apellidosInput">
                            <i class="bi bi-alphabet me-2" style="font-size: 2rem;"></i>
                            Apellidos
                        </label>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <input asp-for="@Model.telefono" type="tel" class="form-control input-bg-custom" id="floatingPassword" placeholder="Password" autocomplete="nope">
                        <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="floatingPassword">
                            <i class="bi bi-telephone-fill me-2" style="font-size: 1.2rem;"></i>
                            Telefono
                        </label>
                    </div>
                    <div class="form-floating w-100">
                        <input asp-for="@Model.constrasena" type="password" class="form-control input-bg-custom" id="contrasenaInput" placeholder="Example" autocomplete="nope">
                        <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="contrasenaInput">
                            <i class="bi bi-key-fill me-2" style="font-size: 1.4rem;"></i>
                            Contraseña
                        </label>
                    </div>
                    <div class="text-black form-check mb-3 text-end ms-auto fw-bold">
                        <input checked class="form-check-input" type="checkbox" name="conservarContrasena" id="conservarContrasena">
                        <label class="form-check-label" for="conservarContrasena">
                            Conservar antigua contraseña
                        </label>
                    </div>
                    <div class="mb-3 input-perfil">
                        <label for="formFile" class="form-label">
                            <i class="bi bi-image"></i>
                            Foto de Perfil</label>
                        <input name="imagenPerfil" class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <div class="col-10 text-center text-white">
                    @if (@Model.FotoPerfil != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show fw-bold" role="alert">

                            Ya tiene una imagen actualmente cargada, Sí desea mantenerla no cargue ninguna imagen
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <button class="btn btn-light w-25 p-2 fs-5 btn-actualizar mt-3">Actualizar</button>
                </div>
            </div>
        </form>
    </div>
</div>