@using System.Globalization;
@{
    ViewData["Title"] = "Prendas";
    Usuario usuario = ViewBag.usuario;
}

@section estilo{
    <link rel="stylesheet" href="~/css/index_cliente.css" asp-append-version="true" />
}
@section segundo_menu{
    <nav class="navbar navbar-expand-md bg-white bg-opacity-50 box-shadow">
        <div class="container-fluid">
            <a asp-action="Filtrar_Productos" asp-route-tipoFiltro="Calificacion" class="navbar-brand text-sm-center ms-2 ms-sm-0">
                <i class="bi bi-star-fill me-2 estrella-icono"></i>
                Populares
            </a>
            <a asp-action="Index" asp-controller="Cliente" class="text-sm-center ms-2 btn btn-warning">
                Limpiar Filtro
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-caret-down-fill"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav w-100 d-flex justify-content-around me-5">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Color
                        </a>
                        <ul class="dropdown-menu">
                            @foreach(Color color in ViewBag.listaColores)
                            {
                                <li><a asp-action="Filtrar_Productos" asp-route-tipoFiltro="Color" asp-route-idFiltro="@color.id_color" class="dropdown-item">@color.color_nombre</a></li>
                            }
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Marca
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (Tipo_Marca marca in ViewBag.listaMarcas)
                            {
                                <li><a asp-action="Filtrar_Productos" asp-route-tipoFiltro="Marca" asp-route-idFiltro="@marca.id_marca" class="dropdown-item">@marca.descripcion</a></li>
                            }
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tipo de Prenda
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (Tipo_Prenda tipoP in ViewBag.listaTipoPrendas)
                            {
                                <li><a asp-action="Filtrar_Productos" asp-route-tipoFiltro="tipoP" asp-route-idFiltro="@tipoP.id_prenda" class="dropdown-item">@tipoP.descripcion</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 }

@section links_extras{
    @{
        <li class="nav-item ms-auto me-3">
            <i class="bi bi-cart-fill carrito-icono" id="link-carrito"></i>
        </li>
        <li class="nav-item perfil-icono">
            <div class="img-perfil">
            @if (usuario.FotoPerfil == null)
            {
                <img src="~/Images/default_Img.jpg"  id="link-perfil">
            }
            else
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(usuario.FotoPerfil)" class="img-perfil" id="link-perfil">
            }
            </div>
        </li>
        <div class="card position-absolute carta-carrito esconder-carta" id="carta-carrito" >
            <div id="carrito_compra" class="card-body text-center carrito-container">
                @Html.Partial("_CarritoCompra")
                
            </div>
        </div>
        <div class="card position-absolute carta-perfil esconder-carta" id="carta-perfil">
            <div class="img-perfil-grande">
            @if(usuario.FotoPerfil == null)
            {
                <img src="~/Images/default_Img.jpg" alt="perfil default">
            }
            else
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(usuario.FotoPerfil)" alt="perfil">
            }
            </div>
            <div class="card-body text-center">
                <h5 class="card-title text-center">@usuario.nombres @usuario.apellidos</h5>
                <a class="btn btn-success my-3" asp-controller="Cliente" asp-action="Actualizar_Datos">
                    <i class="bi bi-pencil-square me-2"></i>
                    Actualizar Datos
                </a>
                <a asp-controller="Home" asp-action="Cerrar_Sesion" class="btn btn-danger">
                    <i class="bi bi-box-arrow-right me-2"></i>
                    Cerrar Sesion
                </a>
            </div>
        </div>
    }
}

<div class="container-fluid">
    @if (ViewBag.huboCompra)
    {
        <div class="alert alert-success alert-dismissible fade text-center show fw-bold mt-3 h4" role="alert">
            Su Compra se Realizó Correctamente, !Gracias Por Comprar en KIM STYLE!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row d-flex justify-content-evenly flex-wrap mt-3 gap-2 gy-3">
        @foreach(Producto producto in ViewBag.listaProductos)
        {
            <div class="col-10 col-md-6 col-lg-5 col-xl-3 card card-producto">
                <div class="card-header border-0">
                    <h4 class="card-title text-center">@producto.Tipo_Prenda.descripcion @producto.Tipo_Marca.descripcion</h4>
                </div>
                <div class="w-100 img-container m-auto">
                @if (producto.Imagen == null)
                {
                    <img src="~/Images/Image-Placeholder.png" alt="producto">
                }
                else
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(producto.Imagen)" alt="producto">
                }
                </div>
                <div class="card-body text-center">
                    <h6 class="card-subtitle mb-2 text-start">Prenda @producto.genero</h6>
                    <h6 class="card-subtitle mb-2 text-start">@producto.temporada</h6>
                    <h6 class="card-subtitle mb-2 text-start">@producto.material</h6>
                    <p class="mt-2 w-75 card-text badge px-3 text-bg-light">@producto.valor.ToString("C", new CultureInfo("es-CO"))</p>
                    <div class="calificacion">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= producto.calificacion_promedio)
                            {
                                <i class="bi bi-star-fill" ></i>
                            }
                            else
                            {
                                <i class="bi bi-star "></i>
                            }
                        }
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-success mb-2 boton-carrito"
                            data-cod_producto="@producto.cod_producto">
                        Agregar al Carrito
                    </button>
                    <div class="calificacion-usuario" id="cal_@producto.cod_producto" data-cod_producto="@producto.cod_producto">
                        @Html.Partial("_calificacion-usuario",producto)
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="~/js/mostrar_Perfil.js"></script>
    <script src="~/js/CargaCarrito.js"></script>
    <script>
        $(document).on("click", ".star-icon", function () {
            var cod_producto = $(this).data("cod_producto");
            var valor = $(this).data("valor");

            $.post("/Cliente/CalificarProducto", { cod_producto: cod_producto, valor: valor }, function (data) {
                $(`#cal_${cod_producto}`).html(data);
            });
        });
    </script>
}